/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Min height for main */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
